
/* General styles */
body {
	background-color: #CD3535;

}

.todo-app {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/*The title*/
.todo-app h1{
	color: #FFFFFF;
}

/*Add item form*/
form input {
	width: 14em;
	height: 2em;
	margin: 1em;
	box-sizing: border-box;
	border: none;
}

form button {
	width: 6em;
	height: 2em;
	box-sizing: border-box;
	background-color: #4F359B;
	border: none;

}

form button:hover {
	background-color: #F9DC5C;
}

form button:active {
	background-color: #F9B5AC;

}

/*Styles for the list of items*/
ul li {
	list-style: none;
}

ul li {
	/*border: 0.1em solid black;*/
	width: 50em;
	margin: 1em;
	color: #ffffff;

}



ul li div {
	/*border: 0.1em solid black;*/
	width: 4em;
	height: 4em;
	background-color: #417B5A;
}

ul li .item{
	width: 40em;
	text-indent: 0.5em;
}


ul li {
	display: flex;
}

/*Style the buttons*/
.star{
	background-image: url(icons/Star_fill-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0.2em solid #4F359B;
	box-sizing: border-box;
}

.edit{
	background-image: url(icons/Edit_fill-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0.2em solid #4F359B;
	box-sizing: border-box;
}

.remove{
	background-image: url(icons/Dell_fill-1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 0.2em solid #4F359B;
	border-left: none;
	box-sizing: border-box;
}

.star:hover, .edit:hover, .remove:hover {
	background-color: #F9DC5C;
}

.star:active, .edit:active, .remove:active {
	background-color: #F9B5AC;
	background-size: 2em;
	border-top-width: 0.3em;
	border-bottom-width: 0.3em;

}



